body{
    background-image: url("bg5.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    margin: 0;
}
h2{
    font-family: cursive;
    font-size: 35px;
    position: sticky;
    margin-top: auto;
}
.container{
    margin: 80px auto;
    text-align: center;
}
.add-activity input{
    width: 65%;
    padding: 10px;
}
.add-activity button{
    padding: 10px 14px;
   background-color:white;
    font-size: 14px;
}
.add-activity button:disabled{
    cursor: not-allowed;
}
.activity-cards{
    margin-top: 20px;
    display: grid;
    flex-direction: column;
    gap: 12px;
    grid-template-columns: repeat(2,1fr);
}
.activity-card{
    display: flex;
    padding: 18px;
    background: #dfd2be;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    flex-direction: column;
    gap: 10px;
    min-height: 180px;
}

.toggle-btn{
    padding:14px 18px;
    border: none;
    border-radius: 6px;
    align-self: center;
    margin-top: auto;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}

.status{
    margin-bottom:15px;
    display: flex;
    justify-content: space-between;

}
.status p {
    margin: 0 10px;
}

.error{
    color: red;
    font-size: 16px;
}



